:root {
    --hue: 0;
    --black: hsl(var(--hue), 4%, 18%);
    --grey: hsl(var(--hue), 0%, 63%);
    --white: hsl(var(--hue), 0%, 100%);
    --light-grey: hsl(var(--hue), 0%, 95%);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 15px;
}

.body {
    font-family: "e-Ukraine";
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/** Positioning */
.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.justify {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.column {
    flex-direction: column;
}

.absolute {
    position: absolute;
}

.wrap {
    flex-wrap: wrap;
}

/** Text */
.text {
    color: var(--black);
    font-weight: 400;
}

.title-1 {
    font-size: 56px;
    line-height: 60px;
}
.title-2 {
    font-size: 38px;
    line-height: 40px;
}
.title-3 {
    font-size: 24px;
    line-height: 28px;
}
.text-4 {
    font-size: 18px;
    line-height: 28px;
}
.article {
    margin-top: 34px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.uptitle {
    margin: 15px 0;
    color: var(--grey);
    font-size: 28px;
    line-height: 32px;
}
.number {
    color: var(--grey);
    font-size: 13px;
    line-height: 18px;
}

/** Buttons */
.btn {
    padding: 12px 33px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
    background: transparent;
    transition: .2s;
}

.btn-light.on {
    color: var(--black);
    border: 1px solid var(--black);
}
.btn-light.on:hover {
    background-color: var(--light-grey);
}
.btn-light.on:active {
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--black);
}
.btn-light.off {
    color: var(--grey);
    border: 1px solid var(--grey);
    cursor: default;
}

.btn-dark.on {
    color: var(--white);
    border: 1px solid var(--white);   
}
.btn-dark.on:hover {
    color: var(--black);
    border: 1px solid var(--light-grey);
    background-color: var(--light-grey);
}
.btn-dark.on:active {
    color: var(--black);
    border: 1px solid var(--white);
    background-color: var(--white);
}
.btn-dark.off {
    color: var(--grey);
    border: 1px solid var(--grey);
    cursor: default;
}

.theme {
    background: none;
}

/** Form */
.input {
    padding: 10px 0 10px 16px;
    color: var(--black);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid var(--grey);
    transition: .2s;
}
.input::placeholder {
    color: var(--grey);
}

.input:active, .input:focus {
    border-bottom: 1px solid var(--black);
}
.input:active::placeholder, .input:focus::placeholder {
    color: var(--black);
}

/*! Local */
/* Header */
.navigation {
    gap: 28px;
}

/* Hero */
.hero {
    position: relative;
    background-color: var(--light-grey);
}

.hero .wrapper {
    z-index: 4;
}

.blur {
    width: 50%;
    height: 100%;
    top: 0;
    background: hsla(var(--light-grey), 0.12);
    backdrop-filter: blur(8px);
    z-index: 3;
}

.atom {
    transform: translateX(-14%);
    z-index: 2;
}

.figure {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* About */
.about {
    padding: 82px 0 95px 0;
}

.triangle:first-child {
    margin-bottom: 30px;
    width: 90.39px;
    height: 93.95px;
    transform: rotate(99.6deg);
}
.triangle:last-child {
    margin-left: 20px;
    width: 153.79px;
    height: 159.85px;
}

.line {
    width: 112px;
    height: 4px;
    background-color: var(--black);
    transform: translateY(-40px);
}

.about-text {
    max-width: 540px;
}

/* Advantages */
.advantages {
    /* position: relative; */
    padding: 77px 0 86px 0;
    background-color: var(--light-grey);
}

.list {
    margin-left: 147px;
    max-width: 508px;
    height: 387px;
}

.icon {
    margin-right: 32px;
}

.p-a {
    margin-top: 18px;
}

.star {
    align-self: flex-start;
    margin-left: 32px;
}

/* Portfolio */
.portfolio {
    padding: 117px 0 97px 0;
}

.works {
    margin: 45px 0;
    gap: 30px;
}

.work {
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}

.works-btn {
    align-self: center;
}

/* Form */
.form {
    margin-top: 30px;
    padding: 56px 0 142px 0;
    background-color: var(--light-grey);
}

.form-send {
    gap: 45px;
}

.triangle-f:first-child {
    width: 111.24px;
    height: 113.07px;
    transform: rotate(37.63deg) translate(-200px, 250px);
}

.triangle-f:last-child {
    width: 90px;
    height: 92px;
    transform: rotate(-36deg) translate(250px, 50px);
}

/* Footer */
.footer {
    padding: 144px 0 119px 0;
    background-color: var(--black);
}

.f-wrapper {
    color: var(--white);
}

.f-wrapper:last-child {
    align-items: flex-end;
}

.logo {
    margin-right: 32px;
}

.footer-btn {
    margin-top: 36px;
}