.body {
    font-family: "e-Ukraine";
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.nav {
    display: flex;
    height: 122px;
    align-items: center;
    justify-content: space-between;
}

.nav_elements {
    display: flex;
    justify-content: space-around;
    width: 529px;
}

.contact-btn-w {
    padding: 12px 33px;
    font-family: "e-Ukraine";
    background: none;
    border: 1px solid #312D2D;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.contact-btn-w:hover {
    background: #F3F3F3;
}

.contact-btn-w:active {
    color: #fff;
    background: #312D2D;
}

.mode-btn-w {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.mode-btn-w:active{
    color: #312D2D;
}

.num {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #A0A0A0;
}

.section-name {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #A0A0A0;
}

.title {
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    color: #312D2D;
    margin: 14px 0 34px 0;
}

.subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #312D2D;
    margin-top: 15px;
}

.hero {
    align-items: center;
    background: #F3F3F3;
    padding: 132px 0 161px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.blur {
    max-width: 720px;
    background: rgba(247, 247, 247, 0.12);
    filter: blur(21px);
    -webkit-filter: blur(21px);
}

.d3 {
    position: absolute;
    left: 653px;
    top: 121px;
}